*{
    padding: 0;
    margin: 0;
  }
  
  .main-cover{
    margin: 0;
    display: flex; justify-content: space-between;
    position: relative;
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cover-content{
    position: absolute;
    z-index: 100;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title-cover{
    font-size:3em;
    width: 70%;
    color: white;
    font-family: 'Crete Round', serif;  
  }
  .text-cover{
    font-family: 'Crete Round', serif;
    color: white;
    width: 70%;
    margin: 1.5rem 0;
  }

  #art-cover{
    object-fit: fill;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  
   /* @media all and (max-width: 1230px){
    .main-title{
      font-size:205%;
      width: 80%;
      height: 50%;
      z-index: 1;
    }
    .css-1kxp130 {
      padding: 16px;
      border-radius: 16px;
      width: 202px  !important;
      max-width: 400px;
      margin: auto;
      position: relative;
      z-index: 1;
      background-color: rgba(255,255,255,0.4);
      -webkit-backdrop-filter: blur(40px);
      backdrop-filter: blur(40px);
      height: 233px  !important;
  }
  .main-title{
    width: 400px;
  }
     
   }
  
   @media all and (max-width: 425px){
  .player{
    display: none;
  }
  .main-title{
    width: 200px !important;
  }
     
  
   } */